// 主题
$primary-color: #00C1A6;
$primary-color-light: #E5F9F6;
$danger-color: #ED5F6A;
$error-color: #BB0A30;

// 灰色
$grey-base: #F5F5F5;

// 边框
$border-color-base: #E6E6E6;

// 字体
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// 字号
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: $font-size-base - 2px;
$font-size-xl: $font-size-lg + 2px;
$font-size-xs: $font-size-sm - 2px;

// 字色
$font-color-placeholder: #999999;

// 圆角
$border-radius-base: 4px;

// 间距
$spacing-base: 4px;
$spacing-2x: $spacing-base * 2;
$spacing-3x: $spacing-base * 3;
$spacing-4x: $spacing-base * 4;
$spacing-5x: $spacing-base * 5;
$spacing-6x: $spacing-base * 6;

// 过渡时长
$animation-duration-slow: 0.3s;

// 过渡曲线
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
