/* 字体 */
$font-family:  PingFang SC,Microsoft YaHei,Helvetica Neue,Helvetica,Hiragino Sans GB,Arial,sans-serif;

/* Colors
-------------------------- */
$--color-white: #ffffff;
$--color-black: #000;
$--color-gray: #eff0f4 !default;
$--color-yellow: #ffff00 !default;
$--color-green: #b8d200 !default;
$--color-mediumturquoise: #48d1d6 !default;
$--color-burlywood: #deb887 !default;
$--color-darkturquoise: #00ced1 !default;

$--color-primary: #0198d1 !default;
$--color-success: #69c72b !default;
$--color-warning: #FFBA00 !default;
$--color-danger: #f56c6c !default;
// $--color-info: #1E1E1E;
$--color-text-primary: #606266 !default;
$--button-font-weight: 400 !default;
$--font-size-base: 14px !default;
$--font-size-small: 12px !default;

// $--color-text-regular: #1f2d3d;
$--border-color-base: #eceff5 !default;
$--border-color-light: #eceff5 !default;
$--border-color-lighter: #e6ebf5 !default;

// $--table-border: none !default;
$--table-border-color: $--border-color-light !default;
$--table-header-background-color: rgba(247,249,250,1) !default;
$--table-row-hover-background-color: mix($--color-white, $--color-primary, 95%) !default;

$--radio-font-weight: normal !default;
$--checkbox-font-weight: normal !default;

/* Popover
-------------------------- */
$--popover-padding-large: 10px 15px !default;
$--popover-font-size: $--font-size-small !default;

/* Select
-------------------------- */
$--select-font-size: 13px !default;
$--select-input-font-size: 13px !default;

/* Loading
--------------------------*/
/// height||Other|4
$--loading-spinner-size: 32px !default;
/// height||Other|4
$--loading-fullscreen-spinner-size: 32px !default;

/* Tooltip
-------------------------- */
/// color|1|Color|0
$--tooltip-fill: #2d3a4b!default;
/// color||Color|0
$--tooltip-border-color: #2d3a4b!default;

/* Cascader
-------------------------- */
$--cascader-menu-font-size: 12px !default;

$--input-mini-line-height: 34px !default;

$--button-mini-padding: 10px 15px !default

